#sticker {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#stickerImg {
    width: 200px; 
    height: 200px;
}

#memo  {
    position: absolute;
    bottom: 250px;
    width: 100%;
    text-align: center;
}

#memoDiv{
    position: absolute;
    bottom: 230px;
    width: 100%;
    text-align: center;
    visibility: hidden;
}